
/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Libre+Caslon+Text:ital@0;1&family=Montserrat:wght@500;600&display=swap');



*{
    font-family:'Inter', 'Poppins';
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    transition:all .2s linear;
    transition:width none;
}

html{
    font-size: 80.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:.8rem;
}

html::-webkit-scrollbar-track{
    background:transparent;
}

html::-webkit-scrollbar-thumb{
    background:linear-gradient(180deg, #ffc0df 0%, #FF95C8 100%);
    border-radius: 7rem;
}

body{
    background: linear-gradient(180deg, #FF95C8 0%, #FFEAF4 100%);
    background-repeat: no-repeat;
}


img {
    max-width: 100%;
    height: auto;
  }
  
  .section{
     padding: 3rem 3%;
  }



/*==================== NAV ====================*/
.header {
    margin-top: 1%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 7%;
    width: 100%;
    position:relative;
    top: 0;
    z-index: 1000;
    font-size: 15px;

  }
 
  .header .logo:hover{
    font-size:35px;
    border-radius:10%;
    color:white;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  }
  .header .logo{
    float:left;
    margin-left: 5%;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    color: #FFFFFF;
  }
  

  .navbar a{
    text-decoration: none;
    margin-left:40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    color: #FFFFFF;
  }
  
  .navbar a:hover{
    font-size:35px;
    border-radius:10%;
    color:white;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  }

  .box1:hover , .box2:hover , .box3:hover{
    box-shadow: 0px 4px 18px 3px rgba(83, 104, 114, 0.39);
    cursor: pointer;
}
.sas{
    

padding-top: 50px;
text-align: center;


font-family: 'Poppins';
font-style: bold;
font-weight: 700;
font-size: 80px;
line-height: 150px;
margin-bottom: 2%;

color: #FFFFFF;
  }

.div3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
}
.div1 , .div2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}





.chick {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 8%;
    z-index: -1;
    top: 87%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 900%;
    line-height: 165%;
    color: #FFE5F2;
}


.empo {
    position: absolute;
    width: 40%;
    height: 90%;
    left: 64%;
    top: 149%;
    z-index: -1;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1000%;
    line-height: 147%;
    color: #FFF3F9;
}


.snm {
    position: absolute;
    width: 100%;
    left: 3.5%;
    top: 210%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 128px;
    line-height: 192px;
    color: #FFF3F9;
    z-index: -1;
}


.box1{
 
    width: 992px;
    height: 382px;

    
    background: #FFFFFF;
    box-shadow: 4px 4px 100px -16px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.box2{
    width: 992px;
    height: 382px;
    background: #FFFFFF;
    box-shadow: 4px 4px 100px -16px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.box3{
    width: 992px;
    height: 382px;   
    background: #FFFFFF;
    box-shadow: 4px 4px 100px -16px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.jj{
    width: 350px;
    height: 382px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

.lie{
    width: 350px;
    height: 382px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

.sm{
    width: 350px;
    height: 382px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;

}

.bz {
    position: absolute;
    width: 25%;
    height: 30%;
    top: 25%;
    left: 8%;
    transform: rotate(-2.79deg);
}

.col-md-5{
}
.col-md-8{
    padding-left: 10%;
    padding-top: 3%;
    padding-bottom: 2%;
}
.ht {
    position: absolute;
    width: 25%;
    height: 65%;
    top: 135%;
}

.puso {
    position: absolute;
    width: 16%;
    height: 48%;
    left: 84%;
    top: 70%;
}

.korona {
    position: absolute;
    width: 20%;
    height: 50%;
    left: 79%;
    top: 180%;
}

.cc{
    padding-left: 5%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bolder;
    font-size: 55px;
    line-height: 67px;

    color: #797979;


}
.ls{
    padding-left: 5%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bolder;
    font-size: 55px;
    line-height: 67px;

    color: #797979;

}
.sc{
    padding-left: 5%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bolder;
    font-size: 55px;
    line-height: 67px;

    color: #797979;

}

.ccs{
    padding-left: 5%;
    padding-right: 10%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: justify;

    color: #797979;  

}

.lss{
  
    padding-left: 5%;
    padding-right: 10%;
   
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: justify;
    
    color: #797979;

}
.scs{

    padding-left: 5%;
    padding-right: 10%;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: justify;
    
    color: #797979;

}

/* FOOTER */
  
.footer{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    background: #FFFFFF;
}


.footerIcons1{

    display: flex;
    align-items: center; 
    justify-content: center; 
  
}

.butterfly{
    display: flex;
    align-items: center; 
    justify-content: center; 
    
}

.footerIcons1 a{
    padding-top: 1%;
    font-size: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    text-align: justify;
    color: #797979;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 6%;
   
}

.footer .footerIcons1 i{
    font-size: 24px;
    padding-right: 10px;
    color:#FF5DAB;

   
}

.footer .footerIcons1 a:hover{
    cursor: pointer;
    font-size:28px;
    border-radius:10%;
    color:#FF95C8;

   
}


  

.quote{
    margin-top: 5%;
}


    



