

/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Libre+Caslon+Text:ital@0;1&family=Montserrat:wght@500;600&display=swap');



*{
    font-family:'Inter', 'Poppins';
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    transition:all .2s linear;
    transition:width none;
}

html{
    font-size: 80.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:.8rem;
}

html::-webkit-scrollbar-track{
    background:transparent;
}

html::-webkit-scrollbar-thumb{
    background:linear-gradient(180deg, #ffc0df 0%, #FF95C8 100%);
    border-radius: 7rem;
}

body{
    background: linear-gradient(180deg, #FF95C8 0%, #FFEAF4 100%);
    background-repeat: no-repeat;
}


img {
    max-width: 100%;
    height: auto;
  }
  
  .section{
     padding: 3rem 3%;
  }



/*==================== NAV ====================*/
.header {
    margin-top: 1%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 7%;
    width: 100%;
    position:relative;
    top: 0;
    z-index: 1000;
    font-size: 15px;

  }
 
  .header .logo:hover{
    font-size:35px;
    border-radius:10%;
    color:white;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  }
  .header .logo{
    float:left;
    margin-left: 5%;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    color: #FFFFFF;
  }
  

  .navbar a{
    text-decoration: none;
    margin-left:40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    color: #FFFFFF;
  }
  
  .navbar a:hover{
    font-size:35px;
    border-radius:10%;
    color:white;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  }
  
  

.sas{

padding-top: 50px;
text-align: center;

font-family: 'Poppins';
font-style: bold;
font-weight: 700;
font-size: 80px;
line-height: 120px;

color: #FFFFFF;
  }

.heartt{
    position: absolute;
    width: 60%;
    height: 60%;
    left: -3%;
    top: 38%;
}

.grow{
    margin-top: 30px;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    font-size: 40px;
    line-height: 72px;
    /* identical to box height */
    
    text-align: center;
    
    color: #FFFFFF;
}

.arrow{
    position: absolute;
    width: 50%;
    height: 80%;
    left: 30%;
    top: 95%;
}


.box1{
    position: absolute;
    top:60%;
    right:5%;
    float: right;
    width: 42%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    

    background: #FFFFFF;
    box-shadow: 4px 4px 100px -16px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.box2{
    position: absolute;
    width: 42%;
    height: 60%;
    left: 10%;
    top: 150%;
    background: #FFFFFF;
    box-shadow: 4px 4px 100px -16px rgb(0 0 0 / 25%);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sun{
    position: absolute;
    top: 115%;
    left: -4%;
    width: 20%;
    height: 50%;
}

.circle1{
    position: absolute;
    left: 10%;
    top: 77%;
    border-radius: 50%;
    background: #FF99C6;
}

.circle2{
    position: absolute;
    width: 6%;
    height: 12%;
    left: 60%;
    top: 163%;
    border-radius: 50%;
    background: #FF99C6;
}

.sofde{
    position: absolute;
    width: 30%;
    left: 15%;
    top: 75%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 600%;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
}

.grade{
    position: absolute;
    width: 30%;
    left: 63%;
    top: 161%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 600%;
    line-height: 160%;
    text-align: center;
    color: #FF99C6;
}
.sde{
 width:85%;
 height: 85%;
}

.gde{
    width:85%;
    height: 85%;
}



.puso{
    position: absolute;
    margin: auto!important;
    width: 30%;
    height: 20%;
    left: 45%;
    top: 210%;
    
}

.money{
    position: absolute;
    width: 20%;
    height: 60%;
    left: 79%;
    top: 187.5%;
}

.spark{
    position: absolute;
    width: 10%;
    height: 20%;
    left: 70%;
    top: 140%;
}

.cc{
    position: absolute;
    width: 380px;
    height: 74px;
    top: 20px;
    left:400px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: bolder;
    font-size: 55px;
    line-height: 67px;

    color: #797979;

}
.ls{
    position: absolute;
    width: 380px;
    height: 74px;
    top: 20px;
    left:400px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: bolder;
    font-size: 55px;
    line-height: 67px;

    color: #797979;

}
.sc{
    position: absolute;
    width: 500px;
    height: 74px;
    top: 20px;
    left:400px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: bolder;
    font-size: 55px;
    line-height: 67px;

    color: #797979;

}

.ccs{
    position: absolute;
width: 553px;
height: 72px;
left: 400px;
top: 100px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
text-align: justify;

color: #797979;
}

.lss{
    position: absolute;
    width: 553px;
    height: 72px;
    left: 400px;
    top: 100px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: justify;
    
    color: #797979;

}
.scs{
    position: absolute;
    width: 553px;
    height: 72px;
    left: 400px;
    top: 100px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: justify;
    
    color: #797979;

}

.build{
    position: absolute;
    top: 157%;
    left: -5%;
    width: 55%;
    height: 90%;
}

 /* FOOTER */
  
 .footer{
    margin-top: 95%;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    background: #FFFFFF;
}


.footerIcons1{

    display: flex;
    align-items: center; 
    justify-content: center; 
  
}

.butterfly{
    display: flex;
    align-items: center; 
    justify-content: center; 
    
}

.footerIcons1 a{
    padding-top: 1%;
    font-size: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    text-align: justify;
    color: #797979;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 6%;
   
}

.footer .footerIcons1 i{
    font-size: 24px;
    padding-right: 10px;
    color:#FF5DAB;

   
}

.footer .footerIcons1 a:hover{
    cursor: pointer;
    font-size:28px;
    border-radius:10%;
    color:#FF95C8;

   
}


  

.quote{
    margin-top: 5%;
}